footer {
    font-family: 'raleway';
}


/* footer-top */

.footer-top {
    background: var(--DBlue);
    display: block;
    height: 80px;
}

.social-icons {
    display: block;
    position: relative;
    font-size: 36px;
    text-align: center;
    top: 10px;
    left: 15px;
    color: #fff;
    padding: 10px;
}

.social-icons i {
    padding: 3px 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: inline-block;
}

.social-icons i:hover {
    color: var(--DBlue);
    background-color: white;
}

.footer-top .search-container {
    float: right;
    position: relative;
    top: 15px;
    right: 5px;
}

.footer-top .search-container button {
    background: var(--LBlue);
}


/* footer-mid */

.footer-mid {
    background: var(--LBlue);
    display: block;
    height: 280px;
    overflow: hidden;
}

.footer-mid .logo {
    position: relative;
    left: 5%;
}

.footer-mid .logo img {
    width: 320px;
}

.footer-mid p {
    margin-top: -10px;
    padding: 0 0 0 30px;
    width: 360px;
    font-size: 18px;
    font-family: 'Open Sans';
}

.footer-mid h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 14px;
}

.footer-mid .col {
    display: block;
    margin: 25px 15px;
}

.footer-nav li {
    padding: 8px;
}

.footer-mid .contact-box li {
    display: inline-block;
    width: 325px;
}

.footer-mid .contact-box i {
    display: inline-block;
    margin-left: -10px;
    font-size: 20px;
    color: var(--DGreen);
}

.footer-mid .contact-box a {
    display: inline-block;
    margin-top: -20px;
    padding-left: 16px;
    color: #fff;
}

.contact-box a:hover {
    color: var(--DGreen);
}

.location {
    position: relative;
    right: 10%;
    padding: 5%;
}


/* footer-bottom */

.footer-bottom {
    background: var(--DBlue);
    height: 60px;
    overflow: hidden;
}

.payment-icons {
    position: relative;
    top: 8px;
}

.payment-icons img {
    width: 80px;
}

.footer-bottom p {
    position: relative;
    top: 25px;
    font-size: 12px;
}

.footer-bottom .col-left p {
    left: 10px;
}

.footer-bottom .col-right p {
    right: 10px;
}