@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@748&display=swap');
li {
    list-style: none;
}

.container {
    width: 100%;
    display: inline-block;
}

.navbar-top {
    background: #009688;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.row {
    position: relative;
}

.pull-left {
    display: flex;
}

.pull-left .userMenu a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
    font-size: 10px;
    font-style: normal;
    position: relative;
    cursor: pointer;
}

.pull-left .userMenu a:hover {
    color: white;
    transition: 0.3s;
}

.pull-right .userMenu a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
    font-size: 12px;
    font-style: normal;
    position: relative;
    cursor: pointer;
}

.pull-right .userMenu a:hover {
    color: white;
    transition: 0.3s;
}

.userMenu li {
    display: flex;
    flex-direction: row-reverse;
    float: left;
    margin: 5px;
    padding: 7px;
}

.logo {
    background-color: #009e9e;
}

.logo img {
    width: 150px;
    cursor: pointer;
    position: relative;
    left: 1%;
}

.nav-bar {
    background: #009688;
    width: 100%;
    z-index: 10;
    padding: 16px 10px;
    text-align: center;
    position: absolute;
}

.fixed {
    position: fixed;
    top: 0px;
}

.nav-container {
    max-width: auto;
    background-color: transparent;
    z-index: 10;
    padding: 5px 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}


/*** Search Bar******/

.search-container {
    float: right;
    position: relative;
    top: -100px;
}

input[type=text] {
    padding: 16px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 350px;
}

.search-container button {
    float: right;
    padding: 15px;
    margin-top: 8px;
    margin-right: 26px;
    background: transparent;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border: black 1px solid;
}

.search-container button:hover {
    outline: #009688;
}


/* Menu-Toggle-Btn */

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.menu {
    max-width: auto;
    background: #009688;
    z-index: 10;
    display: flex;
    text-align: center;
    justify-content: center;
}

.menu a {
    color: #FFF;
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 20px;
    font-style: normal;
    margin: 0px 10px;
    padding: 16px 5px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.menu li {
    list-style: none;
    display: inline-block;
}

.current {
    background-color: teal;
}


/* Hover Effect */

.hover-fx a:before,
.hover-fx a:after {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

.hover-fx a:before {
    opacity: 0;
    left: 0px;
    top: 0px;
}

.hover-fx a:after {
    opacity: 0;
    right: 0px;
    bottom: 0px;
}

.hover-fx a:hover:before,
.hover-fx a:hover:after {
    opacity: 1;
    height: 2px;
    width: 100%;
}


/* Drop-Downs */

.dropdown {
    overflow: visible;
}


/* .dropdown a:hover:before,
.dropdown a:hover:after {
    opacity: 0;
} */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 8;
    margin-top: 25px;
    padding: 15px 0 15px 0;
}

.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


/* .dropdown:hover .dropdown-content {
    display: block;
} */


/*****crousle*****/

.carousel-container {
    height: 800px;
    width: 100%;
    background: cadetblue;
    text-align: center;
}

.carousel-container h1 {
    top: 210px;
    position: relative;
}


/* Media Queries */

@media screen and (max-width: 770px) {
    .nav-bar {
        padding: 0;
    }
    .nav-container {
        padding: 0;
    }
    .menu-btn {
        display: block;
        position: relative;
        width: 50px;
        top: 8px;
        left: 0px;
    }
    .menu-btn.active {
        display: block;
        background: #ffffff;
        width: 40px;
        height: 25px;
        position: relative;
        top: 0px;
        cursor: pointer;
        opacity: 0;
    }
    .menu-btn ul.toggle {
        position: relative;
        top: 5px;
        left: 8px;
        height: 50px;
        cursor: pointer;
    }
    .menu-btn ul.toggle li {
        position: relative;
        left: 5px;
        height: 4px;
        width: 33px;
        border-radius: 3px;
        list-style: none;
        background: #fff;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.5s ease;
    }
    .menu-btn ul.toggle.active li:nth-of-type(1) {
        top: 0px;
        transform: rotate(0deg);
    }
    .menu-btn ul.toggle.active li:nth-of-type(2) {
        top: 5px;
        opacity: 1;
        transform: scale(1);
        transition: transform 0.5s;
    }
    .menu-btn ul.toggle.active li:nth-of-type(3) {
        top: 10px;
        transform: rotate(0deg);
    }
    .menu-btn ul.toggle li:nth-of-type(1) {
        top: 0px;
        transform-origin: 0%;
        transform: rotate(45deg);
    }
    .menu-btn ul.toggle li:nth-of-type(2) {
        top: 5px;
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    .menu-btn ul.toggle li:nth-of-type(3) {
        top: 16px;
        transform-origin: 0%;
        transform: rotate(-45deg);
    }
    .menu.active {
        display: block;
        position: relative;
        margin-top: 0;
        width: 100%;
        max-height: 380px;
        overflow-y: scroll;
        background: #009e9e;
    }
    .menu.active::-webkit-scrollbar {
        display: none;
    }
    .menu li {
        padding: 2px 0;
        font-size: 22px;
    }
    .menu.active ul {
        display: block;
        width: 100%;
    }
    .menu {
        display: none;
    }
    .menu li {
        display: block;
    }
    .menu li a {
        text-align: center;
        color: #ffffff;
        display: block;
        margin: 5px 0;
        font-size: 25px;
    }
    .dropdown-content {
        display: none;
        position: relative;
        background-color: #009e9e;
        min-width: 100%;
        box-shadow: none;
        z-index: 8;
        margin-top: 0px;
        padding: 0;
    }
    .dropdown .dropdown-content a {
        font-size: 22px;
    }
}