@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');

/* Featred-products */

#featured-products {
    min-height: 600px;
}

.heading {
    background: var(--DBlue);
    width: 100%;
    height: 50px;
}

.heading h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    position: relative;
    text-align: center;
    color: #fff;
}