@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Theme */

:root {
    --LBlue: #454cac;
    --DBlue: #282c6b;
    --DGreen: #71c038;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

i,
a {
    color: #fff;
    cursor: pointer;
}

a:hover {
    color: var(--DGreen);
    transition: 0.3s;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}


/* Primary Color: #2f387a */


/* Secondary Color: #7bb4eb */

html {
    scroll-behavior: smooth;
}


/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #b8b8b8;
    border-radius: 30px;
}